<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Richard Saville Portfolio</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/freelancer.min.css" rel="stylesheet">

    <!-- Temporary navbar container fix -->
    <style>
    .navbar-toggler {
        z-index: 1;
    }

    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    </style>

</head>

<body class="index" id="page-top">

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-light" id="mainNav">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
            Menu <i class="fa fa-bars"></i>
        </button>
        <div class="container">
            <a class="navbar-brand" href="#page-top">Richard Saville</a>
            <div class="collapse navbar-collapse" id="navbarExample">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
        <div class="container">
            <img class="img-fluid savhead" src="http://res.cloudinary.com/savscloud/image/upload/v1493778575/savhead1_bx6ih9.jpg" alt="">
            <div class="intro-text">
                <span class="name">Richard Saville</span>
                <hr class="star-light">
                <span class="skills">Current Half-Stack Developer. Aspiring Full-Stack Developer.</span>
            </div>
        </div>
    </header>

    <!-- Portfolio Section -->
    <section id="portfolio">
        <div class="container">
            <h2 class="text-center">Portfolio</h2>
            <hr class="star-primary">
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <div class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                <a href="https://github.com/savsaville/CFA-Hackathon-LetsGetGit" target="_blank"><p>A group project that was made during an Internal Hackathon at Coderfactory Sydney. We attempted to solve education problems through VR use.</p>
                            </div>
                        </div>
                        <img class="img-fluid portphoto" src="http://res.cloudinary.com/savscloud/image/upload/v1493862042/Screen_Shot_2017-05-04_at_11.40.05_am_bn3zlo.png" alt="">
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <div class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                <a href="https://github.com/savsaville/CFA-project-group-quiz" target="_blank"><p> A project made through the Ruby terminal quizzing the class and comparing answers to our teachers. </p>
                            </div>
                        </div>
                        <img class="img-fluid portphoto" src="http://res.cloudinary.com/savscloud/image/upload/v1493861626/Screen_Shot_2017-05-04_at_11.33.12_am_nf9awp.png" alt="">
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <div class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                <a href="https://github.com/savsaville/dynamic-pilgrim" target="_blank"><p>A side-project for CoderFactory Sydney. It displays displays ping pong match history, opponent analytics and personal coaching.</p>
                            </div>
                        </div>
                        <img class="img-fluid portphoto1" src="http://res.cloudinary.com/savscloud/image/upload/v1493858433/cfapong_zligbu.png" alt="">
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <div class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                <a href="https://github.com/savsaville" target="_blank"><p>Source code for this portfolio at Github.</p>
                            </div>
                        </div>
                        <img class="img-fluid portphoto" src="http://res.cloudinary.com/savscloud/image/upload/v1493862128/Screen_Shot_2017-05-04_at_11.41.45_am_biuzw1.png" alt="">
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <div class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                              <a href="https://github.com/savsaville" target="_blank"><p>A working Auction site that sells sports memorabilia for charity.</p></a>
                            </div>
                        </div>
                        <img class="img-fluid portphoto" src="http://res.cloudinary.com/savscloud/image/upload/v1493861027/Screen_Shot_2017-05-04_at_11.23.14_am_ijspf6.png" alt="">
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <div class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                <a class="nav-link" href="#contact"><p>Click here to get in touch and work on something in the future.</p></a>
                            </div>
                        </div>
                        <img class="img-fluid portphoto" src="http://res.cloudinary.com/savscloud/image/upload/v1493809946/cabin_esaxbf.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <h2 class="text-center">About</h2>
            <hr class="star-light">
            <div class="row">
                <div class="col-lg-4">
                    <p>After studying web development for 12 weeks I know SOME things. I lack the expertise at the moment, but I rarely give up and people say I have nice manners.</p>
                </div>
                <div class="col-lg-4">
                    <p>After finishing a Bachelor of Science in New Zealand, I have worked in Logistics, and Sports development, in India, Ireland, the United Kingdom and here in Sydney. My experience in different countries, industries and situations gives me a unique skill set that combined with a passion of coding and the desire to excel, makes me an ideal person to work with.</p>
                </div>
                <div class="col-lg-4">
                    <p>These challenges have enabled me to face any situation and armed me with the tools to transition to a career in coding and web development.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <%= render 'partials/contact' %>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-6">
                        <h3>Location</h3>
                        <p>Sydney
                            <br>NSW, Australia 2000</p>
                    </div>
                    <div class="footer-col col-md-6">
                        <h3>You can also find me here</h3>
                        <ul class="list-inline">
                          <li class="list-inline-item">
                              <a class="btn-social btn-outline" href="https://www.linkedin.com/in/richard-saville-developer/" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a>
                          </li>
                            <li class="list-inline-item">
                                <a class="btn-social btn-outline" href="https://github.com/savsaville" target="_blank"><i class="fa fa-fw fa-github"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn-social btn-outline" href="https://www.instagram.com/sav_saville/" target="_blank"><i class="fa fa-fw fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Richard Saville 2017
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
